@import "../../index.scss";

.container {
  @include container;
  @include phone {
    margin: 25px auto 50px;
  }
  @include tablet {
    margin: 50px auto 100px;
  }
  @include desktop {
    margin: 4vw auto 8vw;
  }

  // Accordion
  .accordion {
    .item {
      display: flex;
      flex-direction: column;
      width: 100%;

      // Question
      .question {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0px;
        margin-left: -10px;
        border-bottom: 1px solid $green;

        // Text
        h3 {
          width: 90%;
          @include text;
          font-weight: 300;
          &:hover {
            color: $green;
          }
        }
        // Toggle
        // find code in main index.scss
      }

      // Answer
      .answer {
        overflow: hidden;
        transition: all 0.5s ease;

        h4 {
          @include text;
          font-weight: 300;
          padding: 0px 10px;
        }
        h5 {
          font-weight: 300;
          color: green;
        }
        p {
          @include text-s;
          padding: 0px 10px;
          b {
            font-weight: 400;
          }
          a {
            @include link;
          }
        }
        a {
          @include link;
        }
      }
    }
  }
}
