@import "../../index.scss";

.container {
  .parallaxImg1 {
    // Parallax
    background-image: url("../../assets/sheets.jpg");
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 80vh;
    @include phone {
      min-height: 90vh;
    }
    position: relative;

    img {
      width: 100%;
    }

    display: flex;
  }

  .hero {
    //border-top: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.25);
    width: 100%;

    > div {
      @include container;
      display: flex;
      flex-direction: column;
      align-items: center;

      // Title
      h1 {
        @include phone {
          font-size: 12vw;
        }

        @include tablet {
          font-size: 5rem;
        }

        @include desktop {
          font-size: 6vw;
        }

        margin: 0 1vw;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        @include phone {
          margin-top: 10vw;
        }
      }

      // Tagline
      p {
        @include large-text;
        text-align: center;
      }

      // Links
      > div {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        // Подробнее о нас
        a:first-of-type {
          @include text;
          @include link;
          width: 55%;
        }

        // Связаться
        a:nth-of-type(2) {
          @include button;
          @include text;
          width: 45%;
          background-color: transparent;
          &:hover {
            background-color: $green;
          }
        }

        @include phone {
          flex-direction: column;
          width: 90%;

          a {
            width: 100%;
            text-align: center;
            &:first-of-type {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .text {
    background-color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 100px 0;
    text-align: center;

    // Img
    > div {
      width: 20%;
      @include tablet {
        width: 25%;
      }
      @include phone {
        width: 35%;
      }
      margin: 0 auto;

      img {
        width: 100%;
        //border: 1px solid;
        border-radius: 50%;
      }
    }

    p {
      display: block;
      @include container;
      @include large-text;
      margin-bottom: 50px;

      a {
        @include large-text;
        @include link;
      }
    }

    a {
      @include text;
      @include link;
    }
  }

  .parallaxImg2 {
    // Parallax
    background-image: url("../../assets/used-apparel.svg");
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
    position: relative;

    img {
      width: 100%;
    }
  }

  .parallaxImg3 {
    // Parallax
    background-image: url("../../assets/recycled-apparel.svg");
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 60vh;
    position: relative;

    img {
      width: 100%;
    }
  }

  .text2 {
    border-top: 1px solid $black;
    background-color: white;
    > div {
      @include container;
      padding: 150px 0;
      @include desktop {
        padding: 10vw 0;
      }
      text-align: center;

      > p {
        @include text;
        margin-bottom: 50px;
        @include desktop {
          margin-bottom: 4vw;
        }
      }

      ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          width: 23%;
          @include tablet {
            width: 45%;
          }
          @include phone {
            width: 45%;
          }
          margin-bottom: 50px;
          @include desktop {
            margin-bottom: 0px;
          }

          // Arrows
          > div {
            //border: 1px solid;
            margin: 0 auto;

            @include desktop {
              width: 30%;
              margin-bottom: 1vw;
            }

            @include tablet {
              width: 15%;
              margin-bottom: 10px;
            }
            @include phone {
              width: 25%;
              margin-bottom: 0px;
            }
            img {
              width: 100%;
            }
          }

          // Title
          > span {
            @include large-text;
          }

          // Text
          > p {
            @include text;
          }
        }
      }

      a {
        @include text;
        @include link;
      }

      .link {
        display: block;
        margin-bottom: 50px;
      }
    }

    // Links
    .links {
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      // Подробнее о нас
      a:first-of-type {
        @include text;
        @include link;
        width: 55%;
      }

      // Связаться
      a:nth-of-type(2) {
        @include button;
        @include text;
        width: 45%;
      }

      @include phone {
        flex-direction: column;
        width: 90%;

        a {
          width: 100%;
          text-align: center;
          &:first-of-type {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  // Bottom link
  > a {
    display: block;
    padding: 0 0 150px;

    @include phone {
      padding: 0 0 100px;
    }
    width: 100%;
    @include text;
    @include link;
    text-align: center;
  }
}
