@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
$black: #202124;
$linen: #faf0e6;
//rgb(250, 240, 230)
$brown: #deaa88;
$gray: #f2f2f2;
$dark-gray: #e0e0e0;
$green: #4f772d;
$green: #a7c957;
// rgb(167, 201, 87)
$yellow: #f9e76f;

@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
  color: $black;
}

// Text highlight
@mixin highlight {
  background: linear-gradient(to top, $linen 40%, transparent 40%);
}

@mixin underline-green {
  background: linear-gradient(to top, $green 20%, transparent 20%);
}

.highlight-linen {
  background: linear-gradient(to top, $linen 40%, transparent 40%);
}

.highlight-gray {
  background: linear-gradient(to top, $gray 30%, transparent 30%);
}

.highlight-green {
  background: linear-gradient(to top, $green 20%, transparent 20%);
}

.underline-green {
  background: linear-gradient(to top, $green 20%, transparent 20%);
}

.highlight-brown {
  background: linear-gradient(to top, $brown 20%, transparent 20%);
}

// Margins container
@mixin container {
  margin: 0 auto;
  width: 90vw;

  @include desktop {
    width: 70vw;
  }
}

// Heading
@mixin heading {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;

  @include tablet {
    font-size: 1.25rem;
  }

  @include desktop {
    font-size: 1.5vw;
  }
}

// Normal body text
@mixin text {
  font-size: 1rem;
  line-height: 1.5;

  @include tablet {
    font-size: 1.1rem;
  }

  @include desktop {
    font-size: 1.25vw;
  }
}

// Small text
@mixin small-text {
  font-size: 1rem;
  line-height: 1.5;

  @include tablet {
    font-size: 1.1rem;
  }

  @include desktop {
    font-size: 1.25vw;
  }
}

// Small text
@mixin textS {
  font-size: 1rem;
  line-height: 1.5;

  @include tablet {
    font-size: 1rem;
  }

  @include desktop {
    font-size: 1vw;
  }
}

@mixin text-s {
  font-size: 1rem;
  line-height: 1.5;

  @include tablet {
    font-size: 1.1rem;
  }

  @include desktop {
    font-size: 1.25vw;
  }
}

@mixin text-xs {
  font-size: 14px;
  line-height: 1.5;

  @include tablet {
    font-size: 16px;
  }

  @include desktop {
    font-size: 1.1vw;
  }
}

// Large text
@mixin large-text {
  font-size: 1.5rem;
  line-height: 1.5;

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 2.5vw;
  }
}

// Link
@mixin link {
  text-decoration: none;
  color: #6a994e;

  &:hover {
    color: $black;
  }
}

img {
  width: 100%;
}

// Button
@mixin button {
  color: $black;
  display: block;
  width: 100%;
  max-width: 12.5em;
  padding: 10px 5px;
  border: none;
  border-radius: 1px;
  background-color: $green;
  margin: 0;
  transition: all 0.25s ease;
  cursor: pointer;
  outline: none;
  @include text;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: $green;
  &:hover {
    background-color: rgba(167, 201, 87, 0.8);
  }
  // For links
  text-decoration: none;
}

@mixin margin-bottom {
  margin-bottom: 100px;
  @include phone {
    margin-bottom: 50px;
  }
  @include tablet {
    margin-bottom: 7vw;
  }
  @include desktop {
    margin-bottom: 5vw;
  }
}

// Toggle indicator for accordion item (FAQ page)
.toggle {
  width: 50px;
  height: 50px;
  border: 0;
  position: relative;
  outline: none;

  span {
    position: absolute;
    transition: 0.3s;
    background: $black;
    border-radius: 1px;

    &:first-of-type {
      top: 32%;
      bottom: 32%;
      width: 1px;
      left: 53%;
    }

    &:last-of-type {
      left: 36%;
      right: 27%;
      height: 1px;
      top: 48%;
    }
  }

  &.active {
    background-color: transparent;
    span:first-of-type {
      transform: rotate(90deg);
    }

    span:last-of-type {
      transform: rotate(90deg);
      left: 50%;
      right: 50%;
    }
  }
}
