@import "../../index.scss";

// О нас
.about {
  @include container;
  margin-bottom: 150px;

  @include phone {
    margin-bottom: 100px;
  }
  @include desktop {
    margin-bottom: 10vw;
  }

  > p {
    @include text;

    span {
      @include highlight;
    }

    a {
      @include link;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: flex;
      align-items: flex-start;

      // Bullet point
      > span {
        display: block;
        @include phone {
          width: 8px;
          margin-top: 0px;
          margin-right: 2vw;
        }
        @include tablet {
          width: 10px;
          margin-top: 2px;
          margin-right: 2vw;
        }
        @include desktop {
          width: 15px;
          margin-top: 0.5vw;
          margin-right: 2vw;
        }
        img {
          width: 100%;
        }
      }

      > p {
        width: 90%;

        @include text;

        margin: 0;
      }

      margin-bottom: 10px;
    }
  }
}

// Как мы работаем
.process {
  @include container;
  margin-bottom: 100px;

  @include phone {
    margin-bottom: 50px;
  }
  @include desktop {
    margin-bottom: 10vw;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      // Order num
      span {
        @include large-text;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $black;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        margin-bottom: 50px;

        @include phone {
          width: 50px;
          height: 50px;
        }

        @include desktop {
          width: 5vw;
          height: 5vw;
          margin-bottom: 5vw;
        }
      }

      // Illustration
      div:first-of-type {
        width: 100%;
        margin-bottom: 25px;
        @include desktop {
          margin-bottom: 2.5vw;
        }
      }

      // Text
      div:nth-of-type(2) {
        width: 100%;

        p {
          display: block;
          @include text;

          a {
            @include link;
          }
        }
      }
    }
  }

  // Back to top
  > a {
    @include text;
    @include link;
    display: block;
    text-align: center;
  }
}

// Наши принципы
.principles {
  @include container;
  margin-bottom: 150px;

  @include phone {
    margin-bottom: 100px;
  }
  @include desktop {
    margin-bottom: 10vw;
  }

  p {
    @include text;
    .name {
      font-family: "Lato", sans-serif;
      font-weight: 300;
    }

    a {
      @include link;
    }
  }

  // Цур
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
    @include phone {
      padding: 50px 0 25px;
    }
    @include tablet {
      padding: 50px 0 25px;
    }

    // Icon
    > div {
      @include phone {
        width: 45%;
        margin-bottom: 25px;
      }

      @include tablet {
        width: 31%;
        margin-bottom: 25px;
      }

      @include desktop {
        width: 15%;
      }

      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}
