@import "../../index.scss";

// О нас
.about {
  @include container;
  @include phone {
    margin: 25px auto 50px;
  }
  @include tablet {
    margin: 50px auto 100px;
  }
  @include desktop {
    margin: 4vw auto 8vw;
  }

  > p {
    @include text;
    a {
      @include link;
    }
  }

  > ul {
    list-style-type: none;
    padding: 0;
    li {
      display: flex;
      align-items: flex-start;

      // Icon
      > span {
        @include text-xs;
        color: $green;
        padding: 5px;
      }

      > p {
        width: 90%;
        @include text;
        margin: 0;
        a {
          @include link;
        }
      }

      margin-bottom: 10px;
    }
  }
}

// Наша команда
.team {
  background-color: $gray;
  padding: 25px 0;
  @include desktop {
    padding: 2vw 0;
  }
  h3 {
    @include heading;
    text-align: center;
    margin: 50px 0;
    @include desktop {
      margin: 3vw 0;
    }
  }
  ul {
    list-style-type: none;
    @include container;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      width: 30%;

      @include phone {
        width: 45%;
        //max-width: 15em;
        margin-bottom: 25px;
      }

      @include tablet {
        width: 30%;
      }

      @include desktop {
        width: 25%;
      }

      > div {
        padding: 1vw 0;
        text-align: center;
        p {
          @include text-xs;
          font-weight: 300;
          margin: 0;
        }
        a {
          @include text-xs;
          @include link;
        }
      }
    }
  }
}
.infographic {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    @include text;
    @include link;
    margin: 0 0 25px 0;
  }
}

// Как мы работаем
.process {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      &:nth-of-type(2),
      &:nth-of-type(4) {
        flex-direction: row-reverse;
      }
      justify-content: space-between;
      align-items: center;

      // Graphic
      > div:first-of-type {
        background-color: $linen;
        width: 50%;
      }

      // Text
      div:nth-of-type(2) {
        width: 50%;

        > div {
          width: 80%;
          margin: 0 auto;
        }

        span {
          @include heading;
          border-left: 1px solid $green;
          padding: 0 10px;
        }

        p {
          display: block;
          @include text;

          a {
            @include link;
          }
        }
      }
    }
  }
}

// Наши принципы
.principles {
  @include container;
  @include phone {
    margin: 25px auto 50px;
  }
  @include tablet {
    margin: 50px auto 100px;
  }
  @include desktop {
    margin: 4vw auto 8vw;
  }

  p {
    @include text;
    span {
      font-weight: 300;
    }
    a {
      @include link;
    }
  }

  // Цур
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px 0;
    @include desktop {
      padding: 2vw 0;
    }

    // Icon
    > div,
    i {
      @include phone {
        width: 30%;
        max-width: 10em;
      }

      @include tablet {
        width: 15%;
      }

      @include desktop {
        width: 15%;
      }

      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}
