@import "../../index.scss";

// О нас
.about {
  @include container;
  margin-bottom: 150px;

  @include phone {
    margin-bottom: 100px;
  }
  @include desktop {
    margin-bottom: 10vw;
  }

  > p {
    @include text;

    span {
      @include highlight;
    }

    a {
      @include link;
    }
  }

  > ul {
    list-style-type: none;
    padding: 0;
    li {
      display: flex;

      align-items: flex-start;

      // Bullet point
      > span {
        display: block;
        @include phone {
          width: 8px;
          margin-top: 0px;
          margin-right: 2vw;
        }
        @include tablet {
          width: 10px;
          margin-top: 6px;
          margin-right: 2vw;
        }
        @include desktop {
          width: 10px;
          margin-top: 0.3vw;
          margin-right: 2vw;
        }
        img {
          width: 100%;
        }
      }

      > p {
        width: 90%;
        @include text;
        margin: 0;
        a {
          @include link;
        }
      }

      margin-bottom: 10px;
    }
  }

  // Наша команда
  > div:last-of-type {
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 30%;
        @include phone {
          width: 50%;
          margin: 0 auto;
          margin-bottom: 25px;
        }

        @include tablet {
          width: 45%;
          margin-bottom: 25px;
        }

        > div {
          p {
            @include text-xs;
          }
          a {
            @include text-xs;
            @include link;
          }
        }
      }
    }
  }
}

.infographic {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    @include text;
    @include link;
    margin: 0 0 25px 0;
  }
}

// Как мы работаем
.process {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      &:nth-of-type(2),
      &:nth-of-type(4) {
        flex-direction: row-reverse;
      }
      justify-content: space-between;
      align-items: center;

      // Graphic
      > div:first-of-type {
        background-color: $linen;
        width: 50%;
      }

      // Text
      div:nth-of-type(2) {
        width: 50%;

        > div {
          width: 80%;
          margin: 0 auto;
        }

        span {
          @include heading;
          border-left: 1px solid $green;
          padding: 0 10px;
        }

        p {
          display: block;
          @include text;

          a {
            @include link;
          }
        }
      }
    }
  }
}

// Наши принципы
.principles {
  @include container;
  @include phone {
    margin: 25px auto 50px;
  }
  @include tablet {
    margin: 50px auto 100px;
  }
  @include desktop {
    margin: 4vw auto 8vw;
  }

  p {
    @include text;
    span {
      font-weight: 300;
    }
    a {
      @include link;
    }
  }

  // Цур
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px 0;
    @include desktop {
      padding: 2vw 0;
    }

    // Icon
    > div,
    i {
      @include phone {
        width: 30%;
        max-width: 10em;
      }

      @include tablet {
        width: 15%;
      }

      @include desktop {
        width: 15%;
      }

      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}
