@import "../../index.scss";

.container {
  @include container;
  @include phone {
    margin: 25px auto 50px;
  }
  @include tablet {
    margin: 50px auto 100px;
  }
  @include desktop {
    margin: 4vw auto 8vw;
  }

  // Main frame
  section {
    display: flex;
    align-items: flex-start;

    // Menu
    aside {
      width: 20%;
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          margin-bottom: 10px;
          a {
            @include text-xs;
            font-weight: 100;
            color: $black;
            &:hover {
              color: $green;
            }
            text-decoration: none;
            padding: 0 10px;

            &.active {
              border-left: 1px solid $green;
              font-weight: 300;
            }
          }
        }
      }
    }

    main {
      width: 75%;
    }

    @media only screen and (max-width: 550px) {
      flex-direction: column;
      aside {
        width: 100%;
        margin-bottom: 25px;
      }
      main {
        width: 100%;
      }
    }
  }

  // All posts
  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // Single post
    i,
    .post {
      @media only screen and (max-width: 550px) {
        width: 100%;
        margin-bottom: 25px;
      }
      @media only screen and (min-width: 550px) {
        width: 49%;
        margin-bottom: 25px;
      }
      @media only screen and (min-width: 769px) and (max-width: 999px) {
        width: 49%;
        margin-bottom: 2vw;
      }
      @media only screen and (min-width: 1000px) and (max-width: 1200px) {
        width: 31%;
        margin-bottom: 2vw;
      }
      @include desktop {
        width: 31%;
        margin-bottom: 2vw;
      }

      // Date & category
      > p {
        @include text;
        margin: 0;
        &:first-of-type,
        &:nth-of-type(2) {
          @include text-xs;
          font-weight: 300;
        }
        display: flex;
        justify-content: space-between;
      }

      // Img
      img {
        width: 100%;
        margin: 1vw 0;
      }

      // Title
      h3 {
        @include text;
        font-weight: 300;
        margin: 0;
      }
    }
  }
}

// Full post
.fullPost {
  @include container;
  margin-bottom: 100px;

  @include phone {
    margin-bottom: 50px;
  }
  @include desktop {
    margin-bottom: 10vw;
  }

  // Full post
  h1 {
    @include heading;
  }

  .img {
    width: 50%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  h2,
  h3,
  h4 {
    font-weight: 300;
    margin-top: 5vw;
  }

  p {
    @include small-text;
    b {
      font-weight: 400;
    }
  }

  // Date
  .date {
    @include small-text;
    margin-bottom: 25px;
  }

  // Img description
  .description {
    @include small-text;
    margin-bottom: 50px;
  }

  .tags {
    p {
      @include text-s;
      margin: 0;
      background-color: $green;
    }
  }
}
