@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");

$black: #202124;
$linen: #fff1e6;
$brown: #ddbea9;
$gray: #f0efeb;
$green: #a9d767;
$yellow: #f9e76f;

@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
  color: $black;
}

// Text highlight
@mixin highlight {
  background: linear-gradient(to top, $linen 40%, transparent 40%);
}

// Margins container
@mixin container {
  margin: 0 auto;
  width: 90vw;

  @include desktop {
    width: 70vw;
  }
}

// Heading
@mixin heading {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;

  @include tablet {
    font-size: 1.75rem;
  }

  @include desktop {
    font-size: 1.75vw;
  }
}

// Body
@mixin text {
  font-size: 1rem;
  line-height: 1.5;

  @include tablet {
    font-size: 1.25rem;
  }

  @include desktop {
    font-size: 1.5vw;
  }
}

// Small text
@mixin small-text {
  font-size: 1rem;
  line-height: 1.5;

  @include tablet {
    font-size: 1rem;
  }

  @include desktop {
    font-size: 1.25vw;
  }
}
// Large text
@mixin large-text {
  font-size: 1.5rem;
  line-height: 1.5;

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 2.5vw;
  }
}

// Link
@mixin link {
  color: $black;

  &:hover {
    text-decoration: none;
    color: $green;
  }
}

img {
  width: 100%;
}

// Button
@mixin button {
  text-decoration: none;
  display: block;
  width: 100%;
  @include text;
  text-align: center;
  color: $black;
  padding: 10px 5px;
  background-color: $green;
  border: 1px solid $black;
  border-radius: 2px;
  transition: all 0.25s ease;
  cursor: pointer;
  outline: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;

  &:hover {
    background-color: $brown;
    border: 1px solid $black;
  }
  margin: 10px 0;
}

@mixin margin-bottom {
  margin-bottom: 100px;
  @include phone {
    margin-bottom: 50px;
  }
  @include tablet {
    margin-bottom: 7vw;
  }
  @include desktop {
    margin-bottom: 5vw;
  }
}
